{% extends 'base.html' %}
{% block banner %}
    <h1 class="card-header info-color white-text text-center py-4">
        <strong>Add Questions</strong>
    </h1>
{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="container">
        <h2 class="card-header info-color white-text text-center py-4">
            <strong>Question</strong>
        </h2>


        <br><br>
        <div class="card-body px-lg-5 pt-0">
            <form action="{% url 'quizzes:addques' quiz.id %}" method="post" >
                {% csrf_token %}
                <div class="form-group row">
                  <label for="qnumber" class="col-2 col-form-label">Question No.</label>
                  <div class="col-10">
                    <textarea class="form-control" id="qnumber" rows="2" name="qno" placeholder="Question no" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Question</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" name="ques" placeholder="Your Question Goes Here" required></textarea>
                </div>

                <div class="form-group row">
                  <label for="exampleTextarea1" class="col-2 col-form-label">Option A</label>
                  <div class="col-10">
                  <textarea class="form-control" id="exampleTextarea1" rows="2" name="o1" placeholder="Option A" required></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="exampleTextarea2" class="col-2 col-form-label">Option B</label>
                  <div class="col-10">
                    <textarea class="form-control" id="exampleTextarea2" rows="2" name="o2" placeholder="Option B" required></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="exampleTextarea3" class="col-2 col-form-label">Option C</label>
                  <div class="col-10">
                    <textarea class="form-control" id="exampleTextarea3" rows="2" name="o3" placeholder="Option C" required></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="exampleTextarea4" class="col-2 col-form-label">Option D</label>
                  <div class="col-10">
                    <textarea class="form-control" id="exampleTextarea4" rows="2" name="o4" placeholder="Option D" required></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="exampleTextarea5" class="col-2 col-form-label">Correct answer</label>
                  <div class="col-10">
                    <textarea class="form-control" id="exampleTextarea5" rows="2" name="cans" placeholder="Option D" required></textarea>
                  </div>
                </div>

                <button class="btn btn-rounded btn-primary btn-block z-depth-0 my-4 waves-effect" type="submit" name="save" value="save">Save and Add Another</button>


            </form>
        </div>
    </div>
</div>
{% endblock %}
