{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>WELCOME</h3>
<div id="fh5co-about">
		<div class="container">
			<div class="col-md-6 animate-box">
				<span>About Our Website</span>
				<h2>Welcome to Adaptive Learning</h2>
				<p>Adaptive learning, also known as adaptive teaching, is an educational method which uses computer algorithms to orchestrate the interaction with the learner and deliver customized resources and learning activities to address the unique needs of each learner.</p>
				<p>In this website, you can take different courses, learn in real time and let yourself grow with the course material and the interactive learning we offer.</p>
				<p>We also provide the provision of quizzes where after enrolling for a course, you can study and take a quiz ob the topics to help yourself judge your learning.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="images/img_bg_2.jpg" alt="Free HTML5 Bootstrap Template">
			</div>
		</div>
	</div>
<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Course categories</h2>
					<p>We offer a great deal of courses where you can select from and help yourself grow as an individual.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Maths</a></h3>
							<p>Can you imagine a life without maths? Maths has been the basis of every study. This course will help you become profient in maths along with developing some really good tricks.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Science</a></h3>
							<p>In this technological era, everything depends on science. This course offers number of theoretical plus experimental studies to help you get over the fear of science.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Data Structures</a></h3>
							<p>Have fear how to study data structures? Well this course is a complete guide to help you get started with the fundamental concepts of data structures.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Algorithms</a></h3>
							<p>This course is an addition to the course of Data Structures. This course offers a collection of algorithms to make your programming better.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Competitive Programming</a></h3>
							<p>Well, now we all know the importance of competitive Programming to grab software interns and jobs. And this course can prove to be a boon for all the beginners out there.</p>
						</div>
					</div>
				</div><div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Electrical circuits</a></h3>
							<p>Curious about how such small circuits lead to working of big equipments? Well, here is a course to help you learn all about its basics and let you capture in its essence.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}