{% extends 'base.html' %}
{% block banner %}
<h1 class="text-white" style="font-family: Roboto Mono Light;">
            E-mail
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" style="font-family: Roboto Mono Light;">
            Enter your E-mail id to get a password reset Link
          </p>

{% endblock %}

{% block content %}
<br><br>
<div class="offset-lg-3 col-lg-4 col-md-6">
    <div style="padding:10px">
          <div class="course-form-section">
            <h2 class="card-header info-color white-text text-center py-4" style="font-family: Roboto Mono Light;">Password Reset</h2>
              <br><br>
              <p class="mb-0 text-danger h3 text-center" style="font-family: Roboto Mono Light;"><span style="font-size: 20px;">&#128542;</span>!!Forgotten Password!!<span style="font-size: 20px;">&#128542;</span></p><br>
              <p class="mb-0 text-success h5 text-center" style="font-family: Roboto Mono Light;">Just enter your registered e-mail address below!!,We will send you a password reset mail on that Email address with further instructions to reset your password.</p><br><br>
              <form method="post" class="text-center">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-rounded btn-success btn-block z-depth-0 my-4 waves-effect" type="submit" name="Send email" style="font-family: Roboto Mono Light;">Get Password Reset Link</button>
              </form>  
          </div>
    </div>
</div>
{% endblock %}
