{% extends 'base.html' %}
{% block banner %}
<h1 class="text-white" style="font-family: Roboto Mono Light;">
          New Password
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" style="font-family: Roboto Mono Light;">
            Setup a new password for your account
          </p>

{% endblock %}

{% block content %}
<br><br>
<div class="offset-lg-3 col-lg-4 col-md-6">
    <div style="padding:10px">
          <div class="course-form-section">
            <h2 class="card-header info-color white-text text-center py-4" style="font-family: Roboto Mono Light;">Password Reset</h2>
              <br><br>
              <form method="post" class="text-center">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-rounded btn-primary btn-block z-depth-0 my-4 waves-effect" type="submit" name="Update Password" style="font-family: Roboto Mono Light;">Reset Password</button>
              </form>  
          </div>
    </div>
</div>
{% endblock %}
