{% extends 'base.html' %}
{% block banner %}
<h1 class="text-white" style="font-family: Roboto Mono Light;">
            E-mail Sent
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" style="font-family: Roboto Mono Light;">
            Password Reset e-mail has been sent at the provided e-mail address
          </p>

{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div style="padding:10px">
              
              <p class="mb-0 text-success h4" style="font-family: Roboto Mono Light;">We have emailed you the instructions for re-setting your password,if the account exists with the e-mail you enetered.You should receive the e-mail shortly.</p><br>

              <p class="mb-0 text-success h4" style="font-family: Roboto Mono Light;">
              If you didn't receive an e-mail, please make sure you have entered the address you registered with, and check your Spam Folder.                
              </p><br><br><br>
              <p class="text-center">
              <button type="button" class="btn btn-primary" style="font-family: Roboto Mono Light;"><a href="{% url 'accounts:login' %}" class="text-white">Return To LogIn</a></button>
              </p>
    </div>
</div>
{% endblock %}
