{% extends 'base.html' %}
{% block banner %}
<h1 class="text-white">
            Register
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            Create a new account
          </p>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="offset-lg-3 col-md-6">
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Register</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Name -->
            <div class="md-form mt-3">
                <label for="materialContactFormName">Name</label>
                <input type="text" id="materialContactFormName" class="form-control" placeholder="Enter Your Full Name" name="name" required>
            </div>

            <!-- E-mail -->
            <div class="md-form">
                <label for="materialContactFormEmail">Username</label>
                <input type="text" id="materialContactFormEmail" class="form-control" placeholder="Enter your username" name="username" required>
                {% if user %}
                    <short class="text-muted"><strong>{{ user_msg }}</strong></short>
                {% endif %}
            </div>

            <div class="md-form">
                <label for="materialContactFormEmail">Password</label>
                <input type="password" id="materialContactFormEmail" class="form-control" placeholder="Enter your password" name="pass" required>
                {% if pwd %}
                    <short class="text-muted"><strong>{{ pwd }}</strong></short>
                {% endif %}
            </div>

            <div class="md-form">
                <label for="materialContactFormEmail">Confirm Password</label>
                <input type="password" id="materialContactFormEmail" class="form-control" placeholder="Re-Enter your password" name="cpass" required>
            </div>

            <div class="md-form">
                <label for="materialContactFormEmail">Email</label>
                <input type="email" id="materialContactFormEmail" class="form-control" name="mail" placeholder="Enter your E-mail address : abc@tmail.com" required>
            </div>

            <div class="md-form">
                <label for="materialContactFormEmail">Contact No.</label>
                <input type="tel" id="materialContactFormEmail" class="form-control" name="mob" placeholder="Enter your phone number : +91-1234567892" required>
            </div>


            <!--Message-->
            <div class="md-form">
                <label for="materialContactFormMessage">Bio</label>
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3" name="bio" placeholder="Tell us something about Yourself" required></textarea>
            </div>

            <p>Please select your account type:</p>
            <input type="radio" id="male" name="type" value="student">
            <label for="male">Student</label><br>
            <input type="radio" id="female" name="type" value="teacher">
            <label for="female">Teacher</label><br>

            <!-- Copy -->
            <!-- Send button -->
            <button class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Create account</button>

        </form>
        <!-- Form -->

    </div>

</div>
</div>
    </div>
</div>

{% endblock %}
