{% extends 'base.html' %}
{% block banner %}
    <h1 class="text-white" style="font-family: Roboto Mono Light;">
            Welcome {% if user %}{{ user }}{% endif %}
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" style="font-family: Roboto Mono Light;">
            {% if msg_cnt %}
              {{ msg_cnt }}
            {% else %}
              Registration Successfull
            {% endif %}
          </p>

{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div style="padding: 10px;">
        <p class="mb-0 text-success h4 text-center" style="font-family: Roboto Mono Light;">
        	<span style="font-size: 40px;">&#9996;&#127995;</span>{{ message }}
        </p><br><br><br>
        <p class="text-center">
        	<button type="button" class="btn btn-primary" style="font-family: Roboto Mono Light;"><a href="{% url 'accounts:login' %}" class="text-white">Return To LogIn</a></button>
        </p>
    </div>    
</div>
{% endblock %}
